.nav-container {
    display: flex;
    align-items: center;
    padding: 20px 10px;
}

nav {
    display: flex;

    ul {
        display: flex;
        list-style-type: none;

        li {
            margin: 0 12px;
        }
    }
}