.header {
    display: flex;
    align-items: center;
    padding: 20px 20px;

    .sub-topic {
        margin-left: 30px;
    }
   
    .other-details {
        width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: 210px;

      .mail{
          margin-left: 10px;
          margin-right: 50px;
      }
    }

}