.form-container {
  margin-top: 30px;
  align-content: center;

  .p-tag {
    margin-top: 30px;
  }

  .input-area {
    display: flex;
    align-items: baseline;
    margin-left: 20px;
    margin-bottom: 25px;
  }

  P {
    margin-left: 20px;
    margin-bottom: 18px;
  }

  .form-field {
    .text-area__wrapper {
      .text {
        width: 330px;
        height: 80px;
      }
    }
  }

  .text-field {
    margin-left: 60px;

    .input-field__wrapper {
      .input-text {
        width: 300px;
        height: 35px;
      }
    }
  }

  .btn-container {
    margin-left: 30px;
    .btn--primary {
      margin: 17px;
    }
    .btn--secondary {
      margin: 17px;
      margin-left: 0%;
    }
  }
  .demo-divider__hr-horizonta2 {
    margin-left: 20px;
    margin-right: 418px;
  }
}
